.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 2rem;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        div {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;

            label {
                padding-top: 0.5rem;
            }

            select {
                font-family: 'Texturina', serif;
                background-color: white;
                border: 1px solid rgb(202, 202, 202);
                border-radius: 8px;
                color: black;
                padding: 1rem 2rem;
            }
        }
    
        .input {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 0;
    
            input {
                margin-bottom: 0;
            }
        }
    }
}