<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Details</title>
</head>
<body>
    <div class="header">
        <img src="/dnd-logo.png" alt="logo"/>
        <h1>Characters</h1>
    </div>
    <div class="content">
        <div class="details">
            <h1 th:text="${character.firstName} + ' ' + ${character.lastName}"></h1>
            <div class="character-race">
                <p class="head" th:text="${character.race.getRace()}"></p>
                <p th:text="${character.race.getDescription()}"></p>
            </div>
            <div class="character-class">
                <p class="head" th:text="${character.dndClass.getDndClass()}"></p>
                <p th:text="${character.dndClass.getDescription()}"></p>
            </div>
            <p th:text="'This character is ' + ${character.age} + ' years old.'"></p>
            <p th:text="${character.canPerformMagic ? 'Has magical abilities.' : 'Does not have magical abilities.'}"></p>
            <p th:text="${character.skill != null ? 'Main skill: ' + character.skill.name : ''}"></p>
            <div class="character-btn">
                <button type="button" th:onclick="'deleteCharacter(' + ${character.id} + ')'">Delete</button>
                <button type="button" onclick="location.href='/character'">Back</button>
            </div>
        </div>
    </div>
    <script>
        function deleteCharacter(characterId) {
            if (confirm('Are you sure you want to delete this character?')) {
                window.location.href = '/character/delete/' + characterId;
            }
        }
    </script>
</body>
</html>