<div class="footer">
  <div class="info">
    <p [innerHTML]="'footer.info' | translate"></p>
    <div class="sources">
      <p>{{ "footer.source-head" | translate }}</p>
      <ul>
        <li>
          <a
            href="https://www.dndbeyond.com/"
            target="_blank"
            rel="noopener noreferrer"
            >{{ "footer.source" | translate }}</a
          >
        </li>
        <li>
          <a href="https://5e.tools/" target="_blank" rel="noopener noreferrer"
            >5etools.</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">Copyright &commat; Natalia Niewiadowska</div>
</div>
