<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>Dungeon Journal</title>
</head>
<body>
    <div class="header">
        <img src="/dnd-logo.png" alt="logo"/>
        <div class="titles">
            <h1>Dungeon Journal</h1>
            <h3>DnD management for Dungeon Masters</h3>
        </div>
    </div>
    <div class="content">
        <div class="campaign-btn">
            <button onclick="location.href='/campaign'">See all campaigns</button>
            <button onclick="location.href='/search'">Search campaigns</button>
        </div>
        <div class="auth-btn">
            <button >Sign up</button>
            <button >Log in</button>
        </div>
    </div>
</body>
</html>