//--- with opacity ---//
$dark-opacity-1: rgba(78, 51, 27, 0.171);
$dark-opacity-2: rgba(78, 51, 27, 0.545);
$light-opacity-1: rgba(217, 209, 201, 0.171);
$light-opacity-2: rgba(203, 192, 181, 0.545);

//--- white-grey-black colors ---//
$white-1: rgb(237, 233, 230);

//--- brown colors ---//
$dark-brown-1: rgb(57, 46, 37);
$dark-brown-2: rgb(78, 51, 27);
$dark-brown-3: rgb(72, 61, 51);

$brown-1: rgb(118, 76, 49);

$light-brown-1: rgb(152, 123, 105);
$light-brown-2: rgb(123, 108, 88);

$antiquewhite-darker: rgb(219, 205, 190); 
$antiquewhite-lighter: rgb(249, 240, 229);

//--- red and orange colors ---//
$dark-red-1: rgb(138, 44, 16);

$orange-1: rgb(201, 133, 43);
$orange-2: rgb(160, 104, 31);